/* importeer Poppins font van fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* importeer Helvetica font uit onze eigen mappen */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/HelveticaNeue.otf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
	font-family: 'Hamburg AH';
	src: url('../assets/hamburg-ah-regular.ttf');
	font-style: normal;
	font-weight: 300;
  }

/* CSS reset, deze zet standaard alle witruimte (margin en padding) op 0. Je moet dan zelf overal weer margin en padding toevoegen op de elementen waar je dit wel wilt hebben.
   Ook zorgen we dat voor alle block elementen de afmetingen niet alleen worden bepaald door de content, maar dat ook padding en border meetellen. 
   Dit ontwerpt makkelijker.
   Zie: https://www.internetingishard.com/html-and-css/css-box-model/#content-boxes-and-border-boxes  */
*, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* Stel een witte achtergrond in en geef de body een beetje margin, relatief ten opzichte van het schermformaat.
   Zet tevens een standaard lettertype wat overerft naar alle tags binnen de body, tenzij die zelf expliciet een ander lettertype krijgen. */
body {
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: 70% 90%;
	margin: 0;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 1.0em;
	color: #090806;
	font-weight: 300;
}

/* onderstaande styles geven een voorbeeld hoe je de geimporteerde fonts kunt gebruiken.
   Op je eigen website mag je natuurlijk andere lettertypes, groottes, en
   kleuren, etc. voor deze tags gebruiken. */

h1 {
	position: static;
	display: flex;
	justify-content: center;
	font-family: 'Helvetica Neue', 'Poppins', sans-serif;
	font-stretch:condensed;
	font-weight: bold;
	font-size: 1.7em;
	color: #ffffff;
	font-weight: 700; /* bold */
}

ul {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	list-style: none;
}

h2 {
	display: flex;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	font-weight: light;
	font-size: 1em;
	color: #f1eae2;
	border-radius: 100%;
	font-weight: 100;
}

/* Home screen */

#home_screen {
	width: 100vw;
	height: 100vh;
	background-image: url(../images/index_background.png);
	background-size: contain;
	background-color: black;
}

#namebrand {
	display: flex;
	margin-bottom: 1.5em;
	justify-content: center;
	align-items: center;
	padding: .5em;
	background-color: transparent;
}

#logo {
	width: 35px;
	margin-right: .3em;
}

#themes {
	color: #f8d95d;
	margin-top: 3em;
	margin-left: 1em;
	font-size: 1.5em;
	font-family: 'Baskerville', 'Poppins', sans-serif;
	font-style: italic;
	font-weight: 100;
}

/* Buttons */

nav {
	display: grid;
	background-image: url(../images/kring.png);
	background-repeat: no-repeat;
	background-position: 6em;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
	margin-top: -2em;
}

nav article:first-of-type {
	grid-column: span 2;
}

#streetart_button {
	width: 180px;
	transition-duration: .05s;
	margin-bottom: -2em;
}

#streetart_button:active{
	transform: scale(1.05);
}

#parks_button {
	width: 100px;
}

#artnstatues_button {
	width: 100px;
}

#buildings_button {
	width: 100px;
}

#all_button {
	width: 100px;
}


/* Cam screen */

header.cam_header {
	position: sticky;
	top: 0;
}

#capture {
	padding-left: auto;
	padding-right: auto;
	padding-top: 170px;
	padding-bottom: 170px;
	color: #ffffff;
}

#camera {
	background-image: url(../images/camera_widget.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #090806;
	display: flex;
	justify-content: center;
}

#photo_container {
	display: grid;
	justify-content: space-around;
	grid-template-columns: 3fr 3fr 3fr;
	gap: 5px;
}

#photo_container div {
	width: 120px;
	height: 120px;
	background-color: aquamarine;
}

#cam_footer {
	margin-top: .5em;
}

#cam_body {
	background-color: #f1eae2;
}

/* Reward part */

#appie_logo {
	display: flex;
	align-items: center;
	margin-top: .5em;
	margin-left: .5em;
}

#appie_logo_img {
	height: 50px;
}

#appie_logo_text_1 {
	font-family: 'Hamburg AH', Arial, Helvetica, sans-serif;
	color: #00a0e2;
	font-size: .7em;
}

#appie_logo_text {
	font-family: 'Hamburg AH', Arial, Helvetica, sans-serif;
	color: #00a0e2;
}

p {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;
}

#font_change_1 {
	font-family: 'Baskerville', sans-serif;
	font-size: 2em;
	color: #f8d95d;
	margin-top: -.1em;
	background-color: #78554d;
	border-radius: 100%;
	padding-right: .4em;
	padding-left: .2em;
}

#font_change_2 {
	font-family: 'Baskerville', sans-serif;
	font-size: 2em;
	color: #78554d;
}

#back_button_2 {
	width: 80px;
	margin-top: 1em;
}

#check_button_2 {
	width: 80px;
	margin-top: 1em;
}

/* Photo screen */

#photo_body {
	background-color: #f1eae2;
}

#back_button {
	width: 80px;
	margin-top: 5.5em;
}

#random_button {
	width: 80px;
	margin-top: 2.5em;
}

#check_button {
	width: 80px;
	margin-top: 5.5em;
}

#photoscreen {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: .6em;
	width: 95%;
	border: 5px solid white;
	border-radius: 5%;
}

#thermosect {
	display: grid;
	margin-right: auto;
	margin-left: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;
	width: 90%;
}

#tiptext {
	font-family: 'Baskerville', 'Poppins', sans-serif;
	font-style: italic;
	font-stretch: condensed;
	font-size: .7em;
	margin-top: .5em;
}

#distancetext {
	font-family: 'Baskerville', 'Poppins', sans-serif;
	font-style: italic;
	font-stretch: condensed;
	font-size: 1em;
}

#thermometer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -5em;
	height: 150px;
}

#thermtext {
	display: flex;
	justify-content: center;
	font-family: 'Baskerville', 'Poppins', sans-serif;
	font-style: italic;
	font-stretch: condensed;
	font-size: 1.3em;
	color: #78554d;
	border-radius: 100%;
	font-weight: 100;
	margin-top: .5em;
}

/* Under construction */

#under_cons {
	color: black;
}

#construction_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}